<%= form_with(model: entity) do |form| %>
  <% if entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.5 %>
  </div>

  <div class="card">
    <p class="card-header">Categories</p>
    <% Group.where(author_id: current_user.id).each do |group| %>
      <div>
        <%= form.check_box :groups, {multiple: true}, group.id, nil %>
        <%= group.name %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
