<%= render "navbar" %>
<div class="card">
  <h2 class="card-header">Transactions Data:</h2>
  <div class="card-body">
    <p>Total amount: $<%= @entities.sum(:amount) %> </p>
    <p>Total of transactions: <%= @entities.count %> </p>
    <p>Average amount: $<%= @entities.average(:amount) %> </p>
    <p>Maximum amount: $<%= @entities.maximum(:amount) %> </p>
    <p>Minimum amount: $<%= @entities.minimum(:amount) %> </p>
  </div>
</div>
<%= link_to "+ TRANSACTION", new_entity_path %>
<h2>List: </h2>

<div id="entities">
  <% @entities.each do |entity| %>
    <%= render entity %>
  <% end %>
</div>
