<%= render "navbar" %>
<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>
  <hr/>

  <%= button_to "Destroy this group", @group, method: :delete, class: "btn btn-danger col-12" %>
</div>
<hr>
<h2>Transactions in this category</h2>
<div id="entities">
  <% @group.entities.each do |entity| %>
    <%= render 'entities/entity', entity: entity %>
  <% end %>
</div>